#area{
    border: 1px solid salmon;
    height: 700px;
    background-color: rgb(21, 20, 20);
}
#space {
    width: 800px;
    height: 600px;
    margin: auto;
    border: 1px solid white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(66, 26, 26);
}

#dino {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: blue;
    background-size: 40px 40px;
    text-align: left;
    position: relative;
    transition: all 0.07s ease;
}

#obstacle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: chartreuse;
    background-size: 20px 40px;
    align-self: flex-end;
    position: relative;
    transition: all 0.07s ease;
} 

#display {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
p {
    color: aliceblue;
}

#display {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
